Repository ibiscardigan/Jotunheim: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ansible-syntax-check, ansible-lint

pylint:
  name: pylint
  entry: bash -c '[[ $# -eq 0 ]] || pylint --recursive=y --rcfile=.pylintrc "$@"'
  language: system
  require_serial: true

ansible-syntax-check:
  name: ansible-playbook syntax check
  entry: ansible-playbook --syntax-check
  language: system

ansible-lint:
  name: ansible-lint
  entry: ansible-lint
  language: python
  additional_dependencies:
  - ansible-lint>=6.0.0

framework for multipass
  .pre-commit-config.yaml
  README.md
  ansible.cfg
  ansible/group_vars/all/services.yml
  ansible/host_vars/devmacmbpm3p001.yml
  ansible/host_vars/localhost.yml
  ansible/inventory.yml
  ansible/library/multipass.py
  ansible/library/multipass/__init__.py
  ansible/library/multipass/cli.py
  ansible/library/multipass/logging_utils.py
  ansible/library/multipass/module.py
  ansible/library/multipass/utils.py
  ansible/library/multipass/vm.py
  ansible/playbooks/hypervisors.yml
  ansible/roles/multipass/defaults/main.yml
  ansible/roles/multipass/meta/main.yml
  ansible/roles/multipass/tasks/install.yml
  ansible/roles/multipass/tasks/main.yml
  ansible/roles/multipass/tasks/manage.yml
  ansible/roles/multipass/tasks/uninstall.yml
  ansible/roles/multipass/tasks/update.yml
  ansible/roles/multipass/templates/cloud-init.yml.j2
  ansible/tests/conftest.py
  ansible/tests/test_vm.py
Due: pylint, ansible-syntax-check, ansible-lint

update linting
  .flake8
  .gitignore
  .pylintrc
  .yamllint
Due: none

filter hypervisors playbook
  ansible/inventory.yml
  ansible/playbooks/hypervisors.yml
  ansible/roles/multipass/tasks/manage.yml
Due: ansible-syntax-check, ansible-lint

multipass vm management working
  ansible.cfg
  ansible/host_vars/devmacmbpm3p001.yml
  ansible/inventory.yml
  ansible/library/multipass.py
  ansible/library/multipass/logging_utils.py
  ansible/playbooks/provision.yml
  ansible/playbooks/reset_vms.yml
  ansible/roles/multipass/meta/main.yml
  ansible/roles/multipass/tasks/install.yml
  ansible/roles/multipass/tasks/main.yml
  ansible/roles/multipass/tasks/manage.yml
  ansible/roles/multipass/tasks/update.yml
  ansible/roles/python/defaults/main.yml
  ansible/roles/python/tasks/install.yml
  ansible/roles/python/tasks/install_mac.yml
  ansible/roles/python/tasks/main.yml
  requirements.yml
Due: pylint, ansible-syntax-check, ansible-lint

multipass python install works
  ansible/group_vars/all/base_host_attributes.yml
  ansible/host_vars/devubumlt0vm001.yml
  ansible/host_vars/devubumlt0vm002.yml
  ansible/inventory.yml
  ansible/playbooks/master.yml
  ansible/playbooks/prepare_ansible.yml
  ansible/playbooks/provision.yml
  ansible/playbooks/smoke_test.yml
  ansible/roles/host_var_prep/defaults/main.yml
  ansible/roles/host_var_prep/handlers/main.yml
  ansible/roles/host_var_prep/tasks/main.yml
  ansible/roles/multipass/tasks/manage.yml
  ansible/roles/python/defaults/main.yml
  ansible/roles/python/tasks/install.yml
  ansible/roles/python/tasks/install_mac.yml
  ansible/roles/python/tasks/install_x86.yml
Due: ansible-syntax-check, ansible-lint

Nomad working
  .ansible-lint
  ansible.cfg
  ansible/group_vars/all/meta.yml
  ansible/group_vars/all/ports.yml
  ansible/host_vars/devmacmbpm3p001.yml
  ansible/host_vars/devubumlt0vm002.yml
  ansible/host_vars/devubumlt0vm003.yml
  ansible/host_vars/devubumlt0vm004.yml
  ansible/inventory.yml
  ansible/playbooks/master.yml
  ansible/playbooks/orchestration.yml
  ansible/playbooks/reset_vms.yml
  ansible/roles/host_var_prep/tasks/main.yml
  ansible/roles/nomad/defaults/main.yml
  ansible/roles/nomad/handlers/main.yml
  ansible/roles/nomad/tasks/install.yml
  ansible/roles/nomad/tasks/main.yml
  ansible/roles/nomad/tasks/uninstall.yml
  ansible/roles/nomad/tasks/update.yml
  ansible/roles/nomad/templates/nomad-client.hcl.j2
  ansible/roles/nomad/templates/nomad-server.hcl.j2
  ansible/roles/nomad/templates/nomad.service.j2
Due: ansible-syntax-check, ansible-lint

Nomad validations added
  ansible/host_vars/devubumlt0vm001.yml
  ansible/host_vars/devubumlt0vm002.yml
  ansible/host_vars/devubumlt0vm003.yml
  ansible/host_vars/devubumlt0vm004.yml
  ansible/roles/host_var_prep/tasks/main.yml
  ansible/roles/nomad/handlers/main.yml
  ansible/roles/nomad/tasks/install.yml
  ansible/roles/nomad/tasks/main.yml
  ansible/roles/nomad/tasks/update.yml
  ansible/roles/nomad/tasks/validate_client.yml
  ansible/roles/nomad/tasks/validate_server.yml
  ansible/roles/nomad/templates/nomad-client.hcl.j2
  ansible/roles/nomad/templates/nomad-server.hcl.j2
Due: ansible-lint

Nomad meta added
  ansible/roles/nomad/handlers/main.yml
  ansible/roles/nomad/tasks/meta.yml
  ansible/roles/nomad/tasks/update.yml
  ansible/roles/nomad/tasks/validate_server.yml
  ansible/roles/nomad/templates/nomad-client.hcl.j2
  ansible/roles/nomad/templates/nomad-server.hcl.j2
Due: ansible-lint

Consul working
  ansible/group_vars/all/meta.yml
  ansible/playbooks/orchestration.yml
  ansible/roles/consul/defaults/main.yml
  ansible/roles/consul/handlers/main.yml
  ansible/roles/consul/tasks/install.yml
  ansible/roles/consul/tasks/main.yml
  ansible/roles/consul/tasks/uninstall.yml
  ansible/roles/consul/tasks/update.yml
  ansible/roles/consul/templates/consul-client.hcl.j2
  ansible/roles/consul/templates/consul-server.hcl.j2
  ansible/roles/consul/templates/consul.service.j2
  ansible/roles/nomad/defaults/main.yml
  ansible/roles/nomad/tasks/install.yml
  ansible/roles/nomad/tasks/main.yml
Due: ansible-syntax-check, ansible-lint

Consul validations working
  ansible/group_vars/all/ports.yml
  ansible/roles/consul/tasks/main.yml
  ansible/roles/consul/tasks/validate_client.yml
  ansible/roles/consul/tasks/validate_server.yml
Due: ansible-lint

Added readme
  README
Due: none

Added readme
  README.md
Due: none

cleanup
  ansible/roles/consul/handlers/main.yml
  ansible/roles/consul/tasks/main.yml
  ansible/roles/consul/tasks/update.yml
  ansible/roles/nomad/handlers/main.yml
  ansible/roles/nomad/tasks/main.yml
  ansible/roles/nomad/tasks/update.yml
Due: ansible-lint

cleanup
  ansible/roles/consul/tasks/main.yml
  ansible/roles/nomad/tasks/main.yml
Due: ansible-lint

prostres working + twek multipass update
  ansible/group_vars/all/cidr.yml
  ansible/group_vars/all/ports.yml
  ansible/host_vars/devubumlt0vm004.yml
  ansible/playbooks/datastores.yml
  ansible/playbooks/master.yml
  ansible/roles/consul/handlers/main.yml
  ansible/roles/multipass/defaults/main.yml
  ansible/roles/multipass/tasks/main.yml
  ansible/roles/postgresql/defaults/main.yml
  ansible/roles/postgresql/handlers/main.yml
  ansible/roles/postgresql/tasks/consul.yml
  ansible/roles/postgresql/tasks/install.yml
  ansible/roles/postgresql/tasks/main.yml
  ansible/roles/postgresql/tasks/uninstall.yml
  ansible/roles/postgresql/tasks/update.yml
  ansible/roles/postgresql/tasks/validate.yml
  ansible/roles/postgresql/templates/consul_postgresql_service.json.j2
  ansible/roles/postgresql/templates/pg_hba.conf.j2
  ansible/roles/postgresql/templates/pg_hba_fixed.conf.j2
  ansible/roles/postgresql/templates/postgresql.conf.j2
  ansible/roles/python/defaults/main.yml
  ansible/roles/python/tasks/deploy_packages.yml
  ansible/roles/python/tasks/install.yml
Due: ansible-syntax-check, ansible-lint

prostres working + tweak multipass update
  ansible/host_vars/devubumlt0vm005.yml
  ansible/inventory.yml
  ansible/roles/multipass/tasks/manage.yml
  ansible/roles/postgresql/tasks/update.yml
Due: ansible-lint

prostgres working + tweak multipass update
  ansible/inventory.yml
  ansible/roles/consul/tasks/validate_server.yml
  ansible/roles/multipass/tasks/manage.yml
Due: ansible-lint

improve vm reset
  ansible/inventory.yml
  ansible/playbooks/reset_vms.yml
Due: ansible-syntax-check, ansible-lint

postgres user management and the start of fireflyiii
  ansible/group_vars/all/meta.yml
  ansible/group_vars/all/ports.yml
  ansible/host_vars/devubumlt0vm001.yml
  ansible/host_vars/devubumlt0vm002.yml
  ansible/host_vars/devubumlt0vm003.yml
  ansible/host_vars/devubumlt0vm004.yml
  ansible/host_vars/devubumlt0vm005.yml
  ansible/roles/consul/defaults/main.yml
  ansible/roles/firefly_iii/defaults/main.yml
  ansible/roles/nomad/defaults/main.yml
  ansible/roles/postgresql/defaults/users.yml
  ansible/roles/postgresql/tasks/install.yml
  ansible/roles/postgresql/tasks/update.yml
Due: ansible-lint

fixed postgres and pip
  ansible/group_vars/all/base_host_attributes.yml
  ansible/host_vars/devmacmbpm3p001.yml
  ansible/host_vars/devubumlt0vm001.yml
  ansible/host_vars/devubumlt0vm002.yml
  ansible/host_vars/devubumlt0vm003.yml
  ansible/host_vars/devubumlt0vm004.yml
  ansible/host_vars/devubumlt0vm005.yml
  ansible/playbooks/reset_vms.yml
  ansible/roles/multipass/tasks/manage.yml
  ansible/roles/postgresql/defaults/databases.yml
  ansible/roles/postgresql/tasks/install.yml
  ansible/roles/postgresql/tasks/main.yml
  ansible/roles/postgresql/tasks/manage.yml
  ansible/roles/postgresql/tasks/update.yml
  ansible/roles/postgresql/templates/pg_hba.conf.j2
  ansible/roles/postgresql/templates/pg_hba_fixed.conf.j2
  ansible/roles/python/tasks/deploy_packages.yml
  ansible/roles/python/tasks/install.yml
Due: ansible-syntax-check, ansible-lint

fixed postgres and pip
  ansible/host_vars/devubumlt0vm001.yml
  ansible/host_vars/devubumlt0vm002.yml
  ansible/host_vars/devubumlt0vm003.yml
  ansible/host_vars/devubumlt0vm004.yml
  ansible/host_vars/devubumlt0vm005.yml
  ansible/roles/firefly_iii/defaults/main.yml
  ansible/roles/postgresql/defaults/databases.yml
  ansible/roles/postgresql/defaults/main.yml
  ansible/roles/postgresql/handlers/main.yml
  ansible/roles/postgresql/tasks/install.yml
  ansible/roles/postgresql/tasks/main.yml
  ansible/roles/postgresql/tasks/manage.yml
  ansible/roles/postgresql/tasks/uninstall.yml
  ansible/roles/postgresql/tasks/update.yml
  ansible/roles/postgresql/templates/pg_hba.conf.j2
  ansible/roles/postgresql/templates/postgresql.service.j2
Due: ansible-lint

added nfs and tweaks
  ansible/group_vars/all/datastores.yml
  ansible/group_vars/all/services.yml
  ansible/group_vars/all/users.yml
  ansible/host_vars/devmacmbpm3p001.yml
  ansible/host_vars/devubumlt0vm001.yml
  ansible/host_vars/devubumlt0vm002.yml
  ansible/host_vars/devubumlt0vm003.yml
  ansible/host_vars/devubumlt0vm004.yml
  ansible/host_vars/devubumlt0vm005.yml
  ansible/playbooks/datastores.yml
  ansible/roles/nfs/defaults/main.yml
  ansible/roles/nfs/handlers/main.yml
  ansible/roles/nfs/tasks/expose.yml
  ansible/roles/nfs/tasks/main.yml
  ansible/roles/nfs/tasks/remove.yml
  ansible/roles/nfs/tasks/validate.yml
  ansible/roles/postgresql/defaults/databases.yml
  ansible/roles/postgresql/tasks/install.yml
  ansible/roles/postgresql/tasks/main.yml
  ansible/roles/postgresql/tasks/manage.yml
  ansible/roles/postgresql/tasks/uninstall.yml
  ansible/roles/postgresql/tasks/update.yml
  ansible/roles/postgresql/templates/consul_postgresql_service.json.j2
Due: ansible-syntax-check, ansible-lint

added docker
  ansible/group_vars/all/services.yml
  ansible/host_vars/devubumlt0vm001.yml
  ansible/host_vars/devubumlt0vm002.yml
  ansible/host_vars/devubumlt0vm003.yml
  ansible/host_vars/devubumlt0vm005.yml
  ansible/host_vars/devubumlt0vm006.yml
  ansible/inventory.yml
  ansible/playbooks/orchestration.yml
  ansible/roles/docker/defaults/main.yml
  ansible/roles/docker/handlers/main.yml
  ansible/roles/docker/tasks/install.yml
  ansible/roles/docker/tasks/main.yml
  ansible/roles/docker/tasks/uninstall.yml
  ansible/roles/docker/templates/main.yml
  ansible/roles/firefly_iii/defaults/main.yml
Due: ansible-syntax-check, ansible-lint

working on nfs mount via consul
  ansible/group_vars/all/datastores.yml
  ansible/group_vars/all/nomad.yml
  ansible/group_vars/all/ports.yml
  ansible/group_vars/all/services.yml
  ansible/host_vars/devmacmbpm3p001.yml
  ansible/host_vars/devubumlt0vm001.yml
  ansible/host_vars/devubumlt0vm002.yml
  ansible/host_vars/devubumlt0vm003.yml
  ansible/host_vars/devubumlt0vm004.yml
  ansible/host_vars/devubumlt0vm005.yml
  ansible/host_vars/devubumlt0vm006.yml
  ansible/playbooks/master.yml
  ansible/playbooks/services.yml
  ansible/roles/consul/tasks/update.yml
  ansible/roles/consul/templates/consul-client.hcl.j2
  ansible/roles/docker/defaults/main.yml
  ansible/roles/docker/handlers/main.yml
  ansible/roles/docker/tasks/install.yml
  ansible/roles/docker/tasks/main.yml
  ansible/roles/docker/tasks/uninstall.yml
  ansible/roles/docker/tasks/validate.yml
  ansible/roles/firefly_iii/meta/main.yml
  ansible/roles/firefly_iii/tasks/install.yml
  ansible/roles/firefly_iii/tasks/main.yml
  ansible/roles/firefly_iii/tasks/uninstall.yml
  ansible/roles/firefly_iii/templates/firefly.nomad.j2
  ansible/roles/nfs/handlers/main.yml
  ansible/roles/nfs/tasks/expose.yml
  ansible/roles/nfs/tasks/remove.yml
  ansible/roles/nfs/tasks/validate.yml
  ansible/roles/nfs/templates/consul_nfs.json.j2
  ansible/roles/python/tasks/deploy_packages.yml
Due: ansible-syntax-check, ansible-lint

install llama-cpp on mac
  ansible/group_vars/all/services.yml
  ansible/host_vars/devmacmbpm3p001.yml
  ansible/playbooks/localhost_agentic.yml
  ansible/roles/llama_cpp/defaults/main.yml
  ansible/roles/llama_cpp/tasks/install.yml
  ansible/roles/llama_cpp/tasks/main.yml
  ansible/roles/llama_cpp/tasks/manage_models.yml
  ansible/roles/llama_cpp/tasks/uninstall.yml
Due: ansible-syntax-check, ansible-lint

added llm instals
  ansible/group_vars/all/services.yml
  ansible/host_vars/devmacmbpm3p001.yml
  ansible/host_vars/devubumlt0vm001.yml
  ansible/host_vars/devubumlt0vm002.yml
  ansible/host_vars/devubumlt0vm003.yml
  ansible/host_vars/devubumlt0vm004.yml
  ansible/host_vars/devubumlt0vm005.yml
  ansible/host_vars/devubumlt0vm006.yml
  ansible/roles/llama_cpp/defaults/main.yml
  ansible/roles/llama_cpp/tasks/manage_models.yml
Due: ansible-lint

n8n working
  README.md
Due: none

Path conditions:
  pylint: any of: \.py$
  ansible-syntax-check: any of: ^ansible/playbooks/.*\.(ya?ml)$
  ansible-lint: any of: ^ansible/.*\.(yml|yaml)$ and \.(yaml|yml)$
